<footer class="site-footer">

    <div class="container">

        <div class="row">
                <div class="col">
                        <div class="footer-logo">
                            <span class="footer-vama-logo">Vama</span><br>
                            <span class="footer-tours-logo">Tours</span>
                        </div>
                </div>
                  
                <div class="col footer-right">
                        <img class="footer-instagram" src="{{site.baseurl}}/assets/img/ins_logo.png">
                </div>
        </div>

        <hr class="footer-line">

        <div class="row footer-nav">

                  <div class="col">
                      <a href="#">Galery</a>
                      <a href="#">TRIPS</a>
                      <a href="#">Contact</a>
                  </div>

        </div>

        <hr class="footer-line two">

        <span class="rights">© 2019 VAMA TOURS, All rights reserved.</span>

    </div>

</footer>