<footer class="site-footer">

    <div class="container">

        <div class="row">

                <div class="col">
                        <div class="footer-logo">
                                <span class="footer-vama-logo">Vama</span><br>
                                <span class="footer-tours-logo">Tours</span>
                            </div>
                </div>
                  
                <div class="col footer-right">
                    <img class="footer-instagram" src="{{site.baseurl}}/assets/img/ins_logo.png">
                </div>
        </div>

        <hr class="footer-line">

        <div class="row footer-nav">
                  <div class="col">
                    GALERY
                  </div>
                  <div class="col">
                    TRIPS
                  </div>
                  <div class="col">
                    CONTACT
                  </div>

        </div>

    </div>

</footer>