<!-- <nav>
        <a href="#">About</a>
        <a href="#">Galery</a>
        <a href="#">Trips</a>
        <a href="#">Contact</a>
</nav> -->


<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">

    <div class="container-fluid">

            <div class="logo">
                    <span class="vama-logo">Vama</span><br>
                    <span class="tours-logo">Tours</span>
            </div>
        
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>    

<div class="collapse navbar-collapse" id="collapse_target"> 

    <ul class="navbar-expand-md">

        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>
        
    </ul>
</div>
</nav>






