<div class="container">
    <div class="recent-wrapper">
        <span class="recent-header">Recent Places</span>
    </div>


    <div class="row">

        <div class="col-sm-6 col-md-4 img-wrap">
                <img class="img-recent" src="{{site.baseurl}}/assets/img/waterfall-agrio.jpg">
                <div class="span-wrapper">
                    <span>Caída del Cielo</span>
                </div>
        </div>

        <div class="col-sm-6 col-md-4 img-wrap">
            <img class="img-recent" src="{{site.baseurl}}/assets/img/punta-uva.jpg">
            <div class="span-wrapper">
                <span>Punta Uva</span>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 img-wrap">
            <img class="img-recent" src="{{site.baseurl}}/assets/img/Nauyaca.jpg">
            <div class="span-wrapper">
                <span>Nauyaca</span>
            </div>
        </div>

    </div>

</div>