.site-footer {
    background-color: #151719;
    color: #fff;
    margin-top: 30px;
    padding-top: 30px;

    // Footer Logo Styles
    .footer-logo {
        text-align: center;
        margin-right: 20px;
        font-family: $font-nav-stack;
        text-transform: uppercase;
        font-size: 24px;

        .footer-vama-logo {
            color: $white-nav-color;
            position: relative;
            top: 3px;
            right: 21px;
            text-shadow: $textshadow-nav;
        }

        .footer-tours-logo {
            color: $green-nav-logo;
            position: relative;
            bottom: 14px;
            right: 20px;
            text-shadow: $textshadow-nav;
        }
    }


    .footer-right {
        text-align: right;

    .footer-instagram {
        width: 35px;
        height: 35px;
        margin: 12px auto;
        }
    }

    .footer-line {
        position: relative;
        bottom: 20px;
        width: 100%;
        border-top: 1px solid white;
    }








}