html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    height: 470px;
    background: url("../assets/img/banner.jpg") center center;
    background-size: cover;
    position: relative;
    bottom: 80px;
}
    

.h1_wrapper {

    display: none;
    position: relative;
    top: 320px;

    h1 {
        font-family: $vama-font-family;
        font-size: 52px;
        font-weight: 700;
        color: $green-nav-logo;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin-left: 30px;
        clear: both;
        padding-top: 0px;
        text-shadow: $text-shadow-header;
    }

    .kicker {
        font-family: $vama-font-family;
        font-size: 38px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 0.05em;
        line-height: 1;
        clear: both;
        margin-top: 30px;
        position: absolute;
        text-shadow: $text-shadow-header;
    }
}