.navbar {
    padding: 0rem 1rem;
}

.bg-light {
    background-image: linear-gradient(#09a163, #065535);
}

.navbar-toggler {
    background-color: #fff;
    padding: .15rem .65rem !important;
}

.logo{
    float: left;
    margin: 0 auto;
    font-family: 'Cabin Sketch' !important;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;

    .vama-logo {
        color: #fff;
        position: relative;
        top: 10px;
        right: 20px;
        text-shadow: 2px 2px 4px #000000;
    }

    .tours-logo {
        color: #00c875;
        position: relative;
        bottom: 14px;
        right: 20px;
        text-shadow: 2px 2px 4px #000000;
    }

}

.navbar-collapse {
    top: -40px;
    display: block;
    background-image: linear-gradient(#0d945d, #065535);
    position: absolute;
    margin: 136px -16px 0px;
    opacity: 0.9;
    width:180px;
    box-shadow: 5px 20px 28px #000000;
}

.nav-item {
    list-style: none;
}

.nav-link {
    font-family: 'Cabin Sketch' !important;
    display: block;
    color: white;
    font-size: 16px;
    height: 50px;
    padding: 10px 0px 0px 0px;
    position: relative;
    top: 8px;
    right: 14px;
    text-transform: "uppercase" !important;
    text-shadow: 2px 2px 4px #000000;
}

a:hover {
    color: #00c875;
    text-shadow: 2px 2px 4px #000000;
}