
.recent-wrapper{

    width: 90%;
    border-bottom: 1px solid #099558;
    margin-left: 15px;
    
    span.recent-header {
        font-family: $vama-font-family;
        font-size: 26px;
        color: #099558;
        text-transform: uppercase;
    }
}
