
.recent-wrapper{

    width: 100%;
    border-bottom: 1px solid #099558;

    
    span.recent-header {
        font-family: $vama-font-family;
        font-size: 26px;
        color: #099558;
        text-transform: uppercase;
    }
}


.img-wrap {
    position: relative;
    margin-top: 10px;

    .img-recent {
        width: 100%;
    }

    .span-wrapper {
        height: 100%;
        background: rgba(0,0,0,0.2);
        position: relative;
        top: -100%;
        width: 100%;
        color: #fff;
        transition: opacity 0.5s linear;
        right: 0px;
        left: 0px;
        margin: 0 auto;

        span {
            font-family: "Cabin Sketch" !important;
            position: absolute;
            text-align: center;
            color: white;
            right: 0px;
            left: 0px;
            top: 80px;
            font-size: 32px;
            text-decoration: underline;
        }
    }
}